@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* clear the decks by defaulting all margin/padding/border settings to 0/none */
* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: #141414;
}

/* headings and logo */

h1, h2, h3 {
   font-family: Oswald, sans-serif;
   letter-spacing: 4px;
   color: #141414;
}

h3 {
   letter-spacing: 2px;  
   text-transform: uppercase;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 30px;
}

#menu {
   font-size: 100%;
   font-weight: 600;
   letter-spacing: 2px;
   float:right;
}

#menu, #logo {
   line-height: 75px;
}

#menu li {
   float:left;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;

}

#menu a:hover {
   border-bottom: 1px solid #141414;
}

.active {
   border-bottom: 1px solid #141414;
}

/* hero image and text */

#hero-outer {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#hero-image {
   height: 600px;
   width: 100%;
   background: url('../images/bruna-branco-7r1HxvVC7AY-unsplash-cropped.jpg')  no-repeat center center; 
}

/* centre page area */

#tagline {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   text-transform: uppercase;
}

#company-ideals  {
   border: 1px solid #e1e;
   height: 600px;
   width: 100%;
}

#left-ideals {
   border: 1px solid #e1e;
   float:left;
   width: 33%;
}

#right-ideals {
   border: 1px solid #e1e;
   float: right;
   width: 33%;
}

#center-ideals {
   border: 1px solid #e1e;
   width: 33%;
   margin: 0 auto;
}


/* footer */

footer {
   border: 1px solid #e1e;
   height: 225px;  
   padding-top : 15px;
}

#footer-group {
   width:750px; 
   margin: 0 auto;
   text-align: center; 
}

#left-footer {
   /*border: 1px solid #e1e;*/
   float:left;
   text-align: left;
}

#right-footer {
   /*border: 1px solid #e1e;*/
   float: right;
   text-align:left;
}

#center-footer {
   display: inline-block;
   text-align: left;
   margin 0 auto;
}

.footer-text {
   font-size: 90%;
   font-weight: 600;
}

#opening-times li {
   list-style-type: none;
}

hr {
   border-top: 2px solid #3a3a3a;
   width: 100%;
   margin: 5px 0 10px;
   
}

.social-networks {
   text-align: left;
}

.social-networks > li {
   display: inline;
}

.social-networks i {
   font-size: 180%;
   margin: 8px;
   color: #141414;
}