@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* clear the decks by defaulting all margin/padding/border settings to 0/none */
* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: #141414;
}

/* headings and logo */

h1, h2, h3 {
   font-family: Oswald, sans-serif;
   letter-spacing: 4px;
   color: #141414;
}

h3 {
   letter-spacing: 2px;  
   text-transform: uppercase;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 30px;
}

#menu {
   font-size: 100%;
   font-weight: 600;
   letter-spacing: 2px;
   float:right;
}

#menu, #logo {
   line-height: 75px;
}

#menu li {
   float:left;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;

}

#menu a:hover {
   border-bottom: 1px solid #141414;
}

.active {
   border-bottom: 1px solid #141414;
}

/* hero image and text */

#hero-outer {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;
   border : 1px solid green;
}

#hero-image {
   height: 600px;
   width: 100%;
   background: url('../images/bruna-branco-7r1HxvVC7AY-unsplash-cropped.webp')  no-repeat center center; 

   /* animates fade-in effect on loading page */
   animation: hero-fade-in 5s;
}

/* creates the level of zoom for hero image */
@keyframes hero-fade-in {
   0% {opacity:0.5;}
   100% {opacity:1;}
}

#welcome-text {
   font-family: Oswald, sans-serif;
   letter-spacing: 4px;

   padding: 40px;
   background-color: rgba(243, 184, 142, 0.7);
   
  
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;

   color: #fff;
   text-transform: uppercase;
  
}

#welcome-text h2 {
   color:#fff;
   font-size: 150%;
}

#welcome-text h3 {
   color:#fff;
   font-size: 450%;
   font-weight: bold;
}

.button {
   appearance: button;
   background-color: #ee901d;
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   border-radius: 8px;
   font-weight: bold;
   box-shadow: 5px 10px #888888;
}

.button:hover {
   background-color: #f57309;
}

/* centre page area */

#tagline {
   text-align: center;
   margin: 20px 0;
   font-size: 280%;
   text-transform: uppercase;
}

/* generic styling to support 3 areas arranged horizontally*/
.left-panel {
   border: 1px solid #e1e;
   float:left;
   text-align: left;
}

.right-panel {
   border: 1px solid #e1e;
   float: right;
   text-align:left;
}

.center-panel {
   border: 1px solid #e1e;
   display: inline-block;
   text-align: left;
   margin: 0 auto;
}



#company-ideals  {
   border: 1px solid #e1e;
   height: 600px;
   margin: 0 auto;
   
}

#itemlist  {
   height: 600px;
   width: 100%;
   overflow: hidden;
   display: inline-block;
   border : 1px solid green;
}

table, th, td {
   border: 1px solid #e1e;
}


#left-ideals {
   border: 1px solid #e1e;
   float:left;
   width: 33%;
}

#right-ideals {
   border: 1px solid #e1e;
   float: right;
   width: 33%;
}

#center-ideals {
   border: 1px solid #e1e;
   width: 33%;
   margin: 0 auto;
}

.flip-card {
   background-color: transparent;
   width: 450px;
   height: 450px;
   border: 1px solid #5f1818;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
   padding:15px;
   margin: 0 auto;
 }
 
 /* This container is needed to position the front and back side */
 .flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }
 
 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }
 
 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden; /* Safari */
   backface-visibility: hidden;
 }
 
 /* Style the front side (fallback if image is missing) */
 .flip-card-front {
   background-color: #bbb;
   color: black;
 }

 .flip-card-front img {
    width: 450px;
    height: 450px;
 }
 
 /* Style the back side */
 .flip-card-back {
   background-color: dodgerblue;
   color: white;
   transform: rotateY(180deg);
 }

/* footer */

footer {
   border: 1px solid #e1e;
   height: 225px;  
   padding-top : 15px;
}

#footer-group {
   width:750px; 
   margin: 0 auto;
   text-align: center; 
}

.footer-text {
   font-size: 90%;
   font-weight: 600;
}

#opening-times li {
   list-style-type: none;
}

hr {
   border-top: 2px solid #3a3a3a;
   width: 100%;
   margin: 5px 0 10px;
   
}

.social-networks {
   text-align: left;
}

.social-networks > li {
   display: inline;
}

.social-networks i {
   font-size: 180%;
   margin: 8px;
   color: #141414;
}