@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* clear the decks by defaulting all margin/padding/border settings to 0/none */
* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: #141414;
}

/* headings and logo */
h1,
h2,
h3 {
   font-family: Oswald, sans-serif;
   letter-spacing: 4px;
   color: #141414;
}

h3 {
   letter-spacing: 2px;
   text-transform: uppercase;
}

hr {
   border-top: 2px solid #3a3a3a;
   width: 100%;
   margin: 5px 0 10px;
}

.active {
   border-bottom: 1px solid #141414;
}

.button {
   background-color: #ee901d;
   border: none;
   color: #fafafa;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   border-radius: 8px;
   font-weight: bold;
   box-shadow: 5px 10px #888888;
   margin-top: 30px;
}

.button:hover {
   background-color: #f57309;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 30px;
}

#menu {
   font-size: 100%;
   font-weight: 600;
   letter-spacing: 2px;
   float: right;
}

#menu,
#logo {
   line-height: 75px;
}

#menu li {
   float: left;
   list-style-type: none;
   margin-right: 30px;
}

#menu a {
   text-decoration: none;
   color: inherit;

}

#menu a:hover {
   border-bottom: 1px solid #141414;
}

/* hero image and text */
#hero-outer {
   height: 600px;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#hero-image {
   height: 600px;
   width: 100%;
   background: url('../images/bruna-branco-7r1HxvVC7AY-unsplash-cropped.webp') no-repeat center center;
   animation: hero-fade-in 5s;
   /* animates fade-in effect on loading page */
}

/* creates the fade-in for the hero image */
@keyframes hero-fade-in {
   0% {
      opacity: 0.5;
   }

   100% {
      opacity: 1;
   }
}

#welcome-text {
   letter-spacing: 4px;
   padding: 40px;
   background-color: rgba(243, 184, 142, 0.8);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
   text-transform: uppercase;
}

#welcome-text h2 {
   color: #fff;
   font-size: 150%;
}

#welcome-text h3 {
   color: #fff;
   font-size: 450%;
   font-weight: bold;
   line-height: 1;
   padding-top: 30px;
}

#tagline {
   text-align: center;
   margin: 0;
   padding: 30px;
   font-size: 280%;
   text-transform: uppercase;
   line-height: 1;
}

/* flex-box structure to handle flip-cards positioning */
.level1-ideals-container {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: center;
}

.level1-ideals-container>div,
.level2-ideals-container>div {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-around;
}

.level1-ideals-container * {
   flex: 1 100%;
   border-radius: 10px;
}

.level2-ideals-container {
   flex: 0 1 750px;
}

.level3-ideals-container {
   flex: 0 0 250px;
}

/* flip-card structure to transition from image to text */
.flip-card {
   background-color: transparent;
   width: 330px;
   height: 330px;
   perspective: 1000px;
   padding: 25px 20px;
   margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   /* Safari */
   backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
   background-color: #fafafa;
}

.flip-card-front img {
   width: 330px;
   height: 330px;
}

/* Style the back of the flip-cards */
.flip-card-back {
   transform: rotateY(180deg);
}

.flip-card-back p {
   text-align: left;
   font-size: large;
   font-weight: bolder;
   padding: 20px 50px;

}

.flip-card-back h2 {
   padding-top: 30px;
}

#flip-card-back-1 {
   background-color: #f5bccf;
}

#flip-card-back-2 {
   background-color: #edbd59;
}

#flip-card-back-3 {
   background-color: #cde59b;
}

#flip-card-back-4 {
   background-color: #baeade;
}

/* footer styling */
footer {
   height: 225px;
   padding-top: 15px;
}

#footer-group {
   width: 700px;
   margin: 0 auto;
   text-align: center;
   padding-top: 30px;
   background-color: chartreuse;
}

#footer-left-panel {
   float: left;
   text-align: left;
}

#footer-right-panel {
   float: right;
   text-align: left;
}

#footer-center-panel {
   display: inline-block;
   margin: 0 auto;
   text-align: left;
}

.footer-text {
   font-size: 90%;
   font-weight: 600;
}

#opening-times li {
   list-style-type: none;
}

.social-networks {
   text-align: left;
}

.social-networks>li {
   display: inline;
}

.social-networks i {
   font-size: 200%;
   margin: 8px;
   color: #141414;
   text-decoration: none;
}

#disclaimer {
   clear: both;
   text-align: center;
   padding: 30px;
}

/* this is styling for the food menu page  */
#carte-section {
   background-image: url("../images/bruna-branco-7r1HxvVC7AY-unsplash-large.webp");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   width: 100%;
   overflow: hidden;
   min-height: 900px;
}

#carte-tagline {
   letter-spacing: 4px;
   padding: 40px;
   background-color: rgba(243, 184, 142, 0.8);
   text-align: center;
   font-size: 280%;
   text-transform: uppercase;
   max-width: 1050px;
   margin: 50px auto 0px auto;
   color: #fff;
}

.wrapper-carte {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-around;
   max-width: 1200px;
   margin: auto;
   padding: 0 20px;
   align-items: flex-start;

}

.wrapper-carte div {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-between;
}

.wrapper-carte * {
   margin: 0 10px;
   flex: 1 100%;
   border-radius: 10px;
   text-align: left;
}

.panel-carte {
   background: #fafafa;
   flex: 0 1 350px;
   margin: 25px auto;
   background-color: rgba(243, 184, 142, 0.8);
}

.carte-header {
   border-bottom: 4px solid #f57309;
   border-radius: 0;
   text-transform: uppercase;
   font-size: 180%;
   padding-top: 10px;
}

.panel-carte h3 {
   margin-top: 10px;
   letter-spacing: 2px;
   font-weight: normal;
}

.inner-medium {
   flex: 0 1 150px;
}

.inner-short {
   flex: 0 1 50px;
}

.carte-footer {
   letter-spacing: 1px;
   text-transform: uppercase;
   font-size: 110%;
   text-align: center;
   border-top: 4px solid #f57309;
   border-radius: 0;
   margin: 20px;
   padding-top: 10px;
}

/* styling for the contact form */
#contact-section {
   background-image: url("../images/bruna-branco-7r1HxvVC7AY-unsplash-large.webp");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   width: 100%;
   overflow: hidden;
   min-height: 900px;
}

#contact-panel-container {
   width: 1200px;
   margin: 75px auto;
}

.contact-panel {
   text-align: left;
   font-weight: 600;
   letter-spacing: 1.1px;
   font-size: 110%;
   background-color: rgba(243, 184, 142, 0.8);
   border-radius: 10px;
   padding: 30px;
   height: 640px;
}

.contact-panel h2 {
   text-transform: uppercase;
   font-size: 180%;
   padding-bottom: 20px;
}

#contact-panel-left {
   width: 400px;
   float: left;
}

#contact-panel-right {
   width: 600px;
   float: right;
}

.text-input {
   background: transparent;
   font-family: Lato, sans-serif;
   font-size: 100%;
   font-weight: 600;
   width: 100%;
   margin: 5px 0 20px 0;
   border: 1px solid #141414;
   border-radius: 2px;
   padding: 5px;
   letter-spacing: 1.1px;
}

.text-input:hover {
   border-color: #fafafa;
}

.text-input-line {
   height: 25px;
}

.text-input-box {
   height: 150px;
   resize: none;
}

.radio-label {
   margin-right: 10px;
}

#location-map {
   width: 100%;
   height: 370px;
}

#location-iframe {
   width: 100%;
   height: 100%;
   border: none;
   scroll-behavior: unset;
   margin: 0px;
}

/* For larger to medium screens size from 1300px wide and down */
@media screen and (max-width: 1300px) {

   #contact-panel-container {
      width: 100%;
      display: block;
   }

   #contact-panel-left {
      margin: auto;
      float: none;
   }

   #contact-panel-right {
      margin: 75px auto;
      float: none;
   }
}

/* For small screen sizes from 750px wide and down */
@media screen and (max-width: 750px) {

   #menu {
      clear: left;
      float: left;
      margin-left: 20px;
      margin-bottom: 20px;
      line-height: 25px;
      width:100%;
   }

   #footer-group {
      width: 80%;
   }

   #footer-center-panel,
   #footer-right-panel,
   #footer-left-panel {
      clear: both;
      float: left;
      padding-left: 50px;
      padding-bottom: 15px;
   }

   #contact-panel-right,
   #contact-panel-left {
      width: 350px;
   }
}

/* For very small screen sizes from 450px wide and down */
@media screen and (max-width: 450px) {

   #contact-panel-left,
   #contact-panel-right {
      width: 260px;
      height: 660px;
   }
}
