@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap");

/* clear the decks by defaulting all margin/padding/border settings to 0/none */
* {
   margin: 0;
   padding: 0;
   border: none;
}

body {
   font-family: Lato, sans-serif;
   font-weight: 300;
   color: #141414;
}

/* headings and logo */
h1,
h2,
h3 {
   font-family: Oswald, sans-serif;
   letter-spacing: 0.25rem;
   color: #141414;
}

h3 {
   letter-spacing: 0.125rem;
   text-transform: uppercase;
}

hr {
   border-top: 0.125rem solid #3a3a3a;
   width: 100%;
   margin: 0.3125rem 0 0.625rem;
}

.active {
   border-bottom: 0.0625 solid #141414;
}

.button {
   background-color: #ee901d;
   border: none;
   color: #fafafa;
   padding: 1.25rem;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1.25rem;
   border-radius: 0.5rem;
   font-weight: bold;
   box-shadow: 0.3125rem 0.625rem #888888;
   margin-top: 1.875rem;
}

.button:hover {
   background-color: #f57309;
}

#logo {
   float: left;
   font-size: 280%;
   margin-left: 1.875rem;
}

#menu {
   font-size: 100%;
   font-weight: 600;
   letter-spacing: 0.125rem;
   float: right;
}

#menu,
#logo {
   line-height: 4.6875rem;
}

#menu li {
   float: left;
   list-style-type: none;
   margin-right: 1.875rem;
}

#menu a {
   text-decoration: none;
   color: inherit;
}

#menu a:hover {
   border-bottom: 0.0625rem solid #141414;
}

/* hero image and text */
#hero-outer {
   height: 37.5rem;
   width: 100%;
   overflow: hidden;
   position: relative;
}

#hero-image {
   height: 37.5rem;
   width: 100%;
   background: url("../images/citrus-hero-image.webp") no-repeat center center;
   animation: hero-fade-in 5s;
   /* animates fade-in effect on loading page */
}

/* creates the fade-in for the hero image */
@keyframes hero-fade-in {
   0% {
      opacity: 0.5;
   }

   100% {
      opacity: 1;
   }
}

#welcome-text {
   letter-spacing: 0.25rem;
   padding: 2.5rem;
   background-color: rgba(243, 184, 142, 0.8);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
   text-transform: uppercase;
}

#welcome-text h2 {
   color: #fff;
   font-size: 150%;
}

#welcome-text h3 {
   color: #fff;
   font-size: 450%;
   font-weight: bold;
   line-height: 1;
   padding-top: 1.875rem;
}

#tagline {
   text-align: center;
   margin: 0;
   padding: 1.875rem;
   font-size: 280%;
   text-transform: uppercase;
   line-height: 1;
}

/* flex-box structure to handle flip-cards positioning */
.level1-ideals-container {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: center;
}

.level1-ideals-container>div,
.level2-ideals-container>div {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-around;
}

.level1-ideals-container * {
   flex: 1 100%;
   border-radius: 0.625rem;
}

.level2-ideals-container {
   flex: 0 1 46.875rem;
}

.level3-ideals-container {
   flex: 0 0 15.625rem;
}

/* flip-card structure to transition from image to text */
.flip-card {
   background-color: transparent;
   width: 20rem;
   height: 20rem;
   perspective: 62.5rem;
   padding: 1.56rem 0;
   margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}

/* Do a horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;  /* Safari */
   backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
   background-color: #fafafa;
}

.flip-card-front img {
   width: 20rem;
   height: 20rem;
}

/* Style the back of the flip-cards */
.flip-card-back {
   transform: rotateY(180deg);
}

.flip-card-back p {
   text-align: left;
   font-size: large;
   font-weight: bolder;
   padding: 1.25rem 3.125rem;

}

.flip-card-back h2 {
   padding-top: 1.875rem;
}

#flip-card-back-1 {
   background-color: #f5bccf;
}

#flip-card-back-2 {
   background-color: #edbd59;
}

#flip-card-back-3 {
   background-color: #cde59b;
}

#flip-card-back-4 {
   background-color: #baeade;
}

/* footer styling */
footer {
   height: 14.1rem;
   padding-top: 1rem;
}

#footer-group {
   width: 43.75rem;
   margin: 0 auto;
   text-align: center;
   padding-top: 1.875rem;
}

#footer-left-panel {
   float: left;
   text-align: left;
}

#footer-right-panel {
   float: right;
   text-align: left;
}

#footer-center-panel {
   display: inline-block;
   margin: 0 auto;
   text-align: left;
}
   
.footer-text {
   font-size: 90%;
   font-weight: 600;
}

#opening-times li {
   list-style-type: none;
}

.social-networks {
   text-align: left;
}

.social-networks>li {
   display: inline;
}

.social-networks i {
   font-size: 200%;
   margin: 0.5rem;
   color: #141414;
   text-decoration: none;
}

#disclaimer {
   clear: both;
   text-align: center;
   padding: 1.875remx;
}

/* this is styling for the food menu page  */
#carte-section {
   background-image: url("../images/citrus-background.webp");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   width: 100%;
   overflow: hidden;
   min-height: 56.25rem;
}

#carte-tagline {
   letter-spacing: 0.25rem;
   padding: 2.5rem;
   background-color: rgba(243, 184, 142, 0.9);
   text-align: center;
   font-size: 280%;
   text-transform: uppercase;
   max-width: 65.625rem;
   margin: 3.125rem auto 0 auto;
   color: #fff;
}

.wrapper-carte {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-around;
   max-width: 75rem;
   margin: auto;
   padding: 0 1.25rem;
   align-items: flex-start;

}

.wrapper-carte div {
   display: flex;
   flex-flow: row wrap;
   text-align: center;
   justify-content: space-between;
}

.wrapper-carte * {
   margin: 0 0.625rem;
   flex: 1 100%;
   border-radius: 0.625rem;
   text-align: left;
}

.panel-carte {
   background: #fafafa;
   flex: 0 1 21.875rem;
   margin: 1.56rem auto;
   background-color: rgba(243, 184, 142, 0.9);
}

.carte-header {
   border-bottom: 0.25rem solid #f57309;
   border-radius: 0;
   text-transform: uppercase;
   font-size: 180%;
   padding-top: 0.625rem;
}

.panel-carte h3 {
   margin-top: 0.625rem;
   letter-spacing: 0.125rem;
   font-weight: normal;
}

.inner-medium {
   flex: 0 1 9.375rem;
}

.inner-short {
   flex: 0 1 3.125rem;
}

.carte-footer {
   letter-spacing: 0.0625rem;
   text-transform: uppercase;
   font-size: 110%;
   text-align: center;
   border-top: 0.25rem solid #f57309;
   border-radius: 0;
   margin: 1.25rem;
   padding-top: 0.625rem;
}

/* styling for the contact form */
#contact-section {
   background-image: url("../images/citrus-background.webp");
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   width: 100%;
   overflow: hidden;
   min-height: 56.25rem;
}

#contact-panel-container {
   width: 75rem;
   margin: 4.6875rem auto;
}

.contact-panel {
   text-align: left;
   font-weight: 600;
   letter-spacing: 0.06875rem;
   font-size: 110%;
   background-color: rgba(243, 184, 142, 0.9);
   border-radius: 0.625rem;
   padding: 1.875rem;
   height: 40rem;
}

.contact-panel h2 {
   text-transform: uppercase;
   font-size: 180%;
   padding-bottom: 1.25rem;
}

#contact-panel-left {
   width: 25rem;
   float: left;
}

#contact-panel-right {
   width: 37.5rem;
   float: right;
}

.text-input {
   background: transparent;
   font-family: Lato, sans-serif;
   font-size: 100%;
   font-weight: 600;
   width: 100%;
   margin: 0.3125rem 0 1.25rem 0;
   border: 0.0625rem solid #141414;
   border-radius: 0.125rem;
   padding: 0.3125rem;
   letter-spacing: 0.06875rem;
}

.text-input:hover {
   border-color: #fafafa;
}

.text-input-line {
   height: 1.56rem;
}

.text-input-box {
   height: 9.375rem;
   resize: none;
}

.radio-label {
   margin-right: 0.625rem;
}

#location-map {
   width: 100%;
   height: 23.125rem;
}

#location-iframe {
   width: 100%;
   height: 100%;
   border: none;
   scroll-behavior: unset;
   margin: 0;
}

/* For larger to medium screens size from 81.25rem wide and down */
@media screen and (max-width: 81.25rem) {

   #contact-panel-container {
      width: 100%;
      display: block;
   }

   #contact-panel-left {
      margin: auto;
      float: none;
   }

   #contact-panel-right {
      margin: 4.6875rem auto;
      float: none;
   }
}

/* For small screen sizes from 46.875rem wide and down */
@media screen and (max-width: 46.875rem) {

   #menu {
      clear: left;
      float: left;
      margin-left: 1.25rem;
      margin-bottom: 1.25rem;
      line-height: 1.56rem;
      width:90%;
   }

   #footer-group {
      width: 80%;
   }

   #footer-center-panel,
   #footer-right-panel,
   #footer-left-panel {
      clear: both;
      float: left;
      padding-left: 3.125rem;
      padding-bottom: 1rem;
   }

   #contact-panel-right,
   #contact-panel-left {
      width: 21.875rem;
   }
}

/* For very small screen sizes from 28.125rem wide and down */
@media screen and (max-width: 28.125rem) {

   #contact-panel-left,
   #contact-panel-right {
      width: 16.25rem;
      height: 41.25rem;
   }

   #welcome-text  {
      padding: 0.625rem;
   }
   #welcome-text h3 {
      font-size: 400%
   }
}
